
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  background-color: #EAF4F4;

}
img{
  width: 100%;
  pointer-events: none;
}
.navContent{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: fixed;
  padding: 5px 5px 15px 5px;

}

.navChild{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}
.logo{
  width: 13%;
}
.notifyicon{
  /* width: 5%; */
  font-size: 20px;
  margin-top:10px;
}
.userimg{
  width: 15%;
  margin-right: 10px;
}
.navdetails{
  display: flex;
  grid-gap: 30px;
}
.navdetailstwo{
  display: flex;
  margin-top:10px;
}
.userdetails{
line-height: 1px;
}
.userdetails h3{
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.userdetails span{
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.menubtn{
  cursor: pointer;
  display: none;
}

/* SideBar */
.sidebarcontent{
  padding-top: 100px;
position: fixed;
width: 20%;
height: 100%;
left: 0px;
top: 0px;
background: #FFFFFF;
}
.companyratechild{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.company{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #000000;
}
.volume{
  width: 80%;
height: 10px;
background: #F1F1F1;
border-radius: 40px;
margin-bottom: 40px;
}
.volumeinside{
  width:60%;
height: 10px;
background: #FFBA08;
border-radius: 40px;
}
.home{
  margin-bottom: 30px;

}
.link{
  text-decoration: none;

}
.new-member{
  margin-bottom: 30px;
}
.payroll{
  margin-bottom: 30px;
}
.company{
  margin-bottom: 30px;
}

.schedule{
  margin-bottom: 10px;
}
.companydtl{
margin-top: 30px;
}
.spanhome{
  margin-left: 10px;
  color: #000000;
}

.homedetailscont{
  /* position: relative;
  top: 150px; */
  padding-top: 120px;
  display: flex;
  justify-content: center;
}
.notificationcancel{
  padding: 8px 8px 8px 8px;
position: relative;
  width: 60%;
  left: 300px;
  display: flex;
  flex-direction: column;
  /* top: 123px; */
  background: #D1E9E9;
}
.paymentime{
  display: flex;
  justify-content: space-between;
}
.paymenttxt{
  margin-bottom: 20px;
}
.canceldtl{
 display: flex;
 justify-content: center;
 margin-top: -30px;
}
.seedetails{
  text-decoration: underline;
  color: #0D42A9;
  font-weight: 600;
  
}
.greettime{
  margin-top: 130px;
  margin-left: 190px;
 
}
.contentholder{
  display: flex;
background: #FFFFFF;
border-radius: 15px;
width: 50%;
margin: 10px;
padding: 10px;
}
.contentimg{
  width: 18%;
  display: flex;
  align-items: center;
}
.contentcontainer{
  display: flex;
  align-items: center;
}
.detailsubchild{
  margin-left: 20px;
}
.detailsubchild h5{
  /* font-weight: 600; */
/* font-size: 20px; */
color: #000000;
}
.actioncont{
  margin-top: 100px;
  margin-bottom: 30px;
}
.actioncontainer{
background: #FFFFFF;
border-radius: 10px;
padding: 10px 60px 5px 10px;
margin-bottom: 25px;
width: 80%;
}
.actionimg{
  width: 12%;
}
.actionchild{
  display: flex;
align-items: center;
}
.payrolltxt{
  margin-left: 20px;
}
.actionchildcont{
  display: flex;
}
.calendar{
  width: 40%;
}
.calendercont{
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.25);
}

@media (max-width:480px) {
  .menubtn{
    display: block;
  }
  .logo{
    width: 40%;
  }
  .sidebarcontent{
    display: none;
  }
  .paymentime{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .contentcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0px;
  }
  .notificationcancel{
    position: relative;
    left: 0;
    top: 20px;
    padding: 3px 10px 3px 5px;
    width: 100%;
  }
  .paymenttxt h4{
    width: 90%;
  }
  .canceldtl{
position: relative;
top: -135px;
display: flex;
justify-content: flex-end;
  }
  .notifyicon{
    display: none;
  }
  .userdetails{
    display: none;
  }
  .userimg{
    display: none;
  }
  .greettime{
    margin-left: 0px;
   
  }
  .greettime h3{
    width: 60%;
  }
  .greettime p{
    width: 70%;
  }
  .actionchildcont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.actionmediaflex{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  .calendar{
    width: 90%;
  }
  .contentholder{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 20px;
  }
  .actionchild{
    display: flex;
 
  }
  .payrolltxt p{
    width: 100%;
  }
  .detailsubchild p{
    width: 90%;
  }
  .actionchild{
    display: flex;
    flex-direction: column;
  align-items: center;
  }
  .actionimg{
    width: 20%;
    margin-bottom: 10px;
  }
  .contentimg{
    width: 25%;
    margin-bottom: 10px;
  }
  .contentholder h5{
    display: flex;
    align-items: center;
 justify-content: center;
  }
}